.left
{
background-color:black;
width: 95%;
height	:85%;
border-radius: 5%;
margin-left:50px;
margin-top:50px;
}
table
{
color:#764318;
padding-left:550px;
padding-top:50px;
}

body
	{
		
	background-color:#764318;	
		
	}
	#text
{
height:50px;
}
.corner1
{
 border-radius: 15px;
    background: white;
    margin-left:200px;
margin-top:100px;
padding-left:100px;
    width: 300px;
    height: 150px;
    color:#764318;
}



